<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить регион</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="navbar">
    <a href="/MyServlettest/index.html">Главная</a>

    <a href="/MyServlettest/weather/getForRegion">Погода в регионе</a>

    <a href="/MyServlettest/weather/getSnowyDates">Снежные даты</a>

    <a href="/MyServlettest/weather/getForLanguage">Погода по языку</a>

    <a href="/MyServlettest/weather/updateForRegion">Обновить погоду</a>

    <a href="/MyServlettest/weather/addRegion">Добавить регион</a>
</div>

<h1>Добавить регион</h1>

<form method="get" action="/MyServlettest/weather/addRegion">
    <label>Имя региона:</label>
    <input type="text" name="region"/><br><br>

    <label>Площадь:</label>
    <input type="number" name="square"/><br><br>

    <label>Тип жителей:</label>
    <input type="text" name="citizen-type"/><br><br>

    <button type="submit">Добавить</button>
</form>

<hr>
<div th:if="${data != null}">
    <pre th:text="${data}"></pre>
</div>

<div class="error" th:if="${error}" th:text="${error}"></div>

</body>
</html>
