<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

<div class="navbar">
    <a href="/MyServlettest/index.html">Главная</a>

    <a href="/MyServlettest/weather/getForRegion">Погода в регионе</a>

    <a href="/MyServlettest/weather/getSnowyDates">Снежные даты</a>

    <a href="/MyServlettest/weather/getForLanguage">Погода по языку</a>

    <a href="/MyServlettest/weather/updateForRegion">Обновить погоду</a>

    <a href="/MyServlettest/weather/addRegion">Добавить регион</a>
</div>

<h1>Ошибка</h1>
<p th:text="${message}"></p>

<a href="/MyServlettest/">Вернуться на главную</a>

</body>
</html>
