<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Погода по языку</title>
    <link rel="stylesheet" href="../../css/style.css"></head>
<body>

<div class="navbar">
    <a href="/MyServlettest/index.html">Главная</a>

    <a href="/MyServlettest/weather/getForRegion">Погода в регионе</a>

    <a href="/MyServlettest/weather/getSnowyDates">Снежные даты</a>

    <a href="/MyServlettest/weather/getForLanguage">Погода по языку</a>

    <a href="/MyServlettest/weather/updateForRegion">Обновить погоду</a>

    <a href="/MyServlettest/weather/addRegion">Добавить регион</a>
</div>

<h1>Погода по языку</h1>

<form method="get" action="/MyServlettest/weather/getForLanguage">
    <label>Язык:</label>
    <input type="text" name="lang"/><br><br>

    <button type="submit">Показать</button>
</form>

<hr>
<div th:if="${data != null}">
    <pre th:text="${data}"></pre>
</div>
<div class="error" th:if="${error}" th:text="${error}"></div>

</body>
</html>
